/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}


h1 {
  color: #000000;/* フォントの色 */
  font-size: 30px;/* フォントの大きさ */
  font-family: lobster;/* フォントの種類 */
  margin:0;
}

.top{
  height:auto;
}
/* h1見出し */

.video-background {
  width: auto;
  height: auto;
  z-index: -1;
  margin:3% 5%;
  display: grid;
  gap:26px;
  grid-template-columns:repeat(auto-fit,minmax(240px, 1fr));
}

video {
  width:100%;
}

/* h2見出し */
.title {
  font-size: 25px;
  border-left-style: solid;
  color: #000000;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50x;
}

.photo {
  height: auto;
  padding: 2%;
}

.picture{
  display: grid;
  gap:15px;
  grid-template-columns:repeat(auto-fit,minmax(240px, 1fr));
  margin-top: 2%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 50px;
  background-image: url(haikei.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item img{
  max-width: 100%;
  height: auto;
  }

   
.item img {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
 
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
 

.item p {
  text-align: center;
  color:white;
  text-shadow:1px 1px 0 #000000, -1px -1px #000000,
  -1px 1px 0 #000000, 1px -1px 0#000000,
  0px 1px 0 #000000,  0-1px 0#000000,
  -1px 0 0 #000000, 1px 0 0 #000000;
  font-size: 30px;
  font-family: sans-serif;
}

.syoukai{
  display: grid;
  gap:26px;
  grid-template-columns:3fr 1fr;
  grid-template-columns:minmax(240px);
  margin-top: 3%;
  margin-bottom: 50px;
}

.syoukaiitem p {
  max-height: 100%;
  background-color:#e9e9e9;
  background-repeat: no-repeat;
  background-size: cover;
  color: #111111;
  text-shadow:0.5px 0.5px 0 #ffffff, -0.5px -0.5px #ffffff,
  -0.5px 0.5px 0 #ffffff, 0.5px -0.5px #ffffff,
  0px 0.5px 0 #ffffff,  0 -0.5px 0#ffffff,
  -0.5px 0 0 #ffffff, 0.5px 0 0 #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 20px;
}
.syoukaiitem img{
  max-width: 100%;
  height: auto;
}
/* フッター */
footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
