/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}


h1 {
  color: #000000;/* フォントの色 */
  font-size: 30px;/* フォントの大きさ */
  font-family: lobster;/* フォントの種類 */
  margin:0;
}

.top{
  height:auto;
}
/* h1見出し */

.video-background {
  width: auto;
  height: auto;
  z-index: -1;
  margin:0% 7% 6% 7%;
  display: grid;
  gap:26px;
  grid-template-columns:repeat(auto-fit,minmax(240px, 1fr));
}

video {
  width:100%;
}

/* h2見出し */
.title {
  font-size: 25px;
  border-left-style: solid;
  color: #000000;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50x;
}

.photo {
  height: auto;
  padding: 2%;
}

.picture{
  display: grid;
  gap:15px;
  grid-template-columns:repeat(auto-fit,minmax(240px, 1fr));
  margin-top: 2%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 50px;
  background-image: url(haikei.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item img{
  max-width: 100%;
  height: auto;
  border:solid 2px #ccc;
  }

.item img:hover{
border:solid 2px #203aad;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
 

.item p {
  text-align: center;
  color:white;
  text-shadow:1px 1px 0 #000000, -1px -1px #000000,
  -1px 1px 0 #000000, 1px -1px 0#000000,
  0px 1px 0 #000000,  0-1px 0#000000,
  -1px 0 0 #000000, 1px 0 0 #000000;
  font-size: 30px;
  font-family: sans-serif;
}

.syoukai{
  display: grid;
  gap:26px;
  grid-template-columns:3fr 1fr;
  grid-template-columns:minmax(240px);
  margin-top: 3%;
  margin-bottom: 50px;
}

.syoukaiitem p {
  max-height: 100%;
  background-color:#e9e9e9;
  background-repeat: no-repeat;
  background-size: cover;
  color: #111111;
  text-shadow:0.5px 0.5px 0 #ffffff, -0.5px -0.5px #ffffff,
  -0.5px 0.5px 0 #ffffff, 0.5px -0.5px #ffffff,
  0px 0.5px 0 #ffffff,  0 -0.5px 0#ffffff,
  -0.5px 0 0 #ffffff, 0.5px 0 0 #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 20px;
}
.syoukaiitem img{
  max-width: 100%;
  height: auto;
}

.search-container h2 {
  color: #000000;
  margin-bottom: 20px;
}

/* 検索機能全体の背景とレイアウト */
.search-container {
  background-color: #f5f5f5;
  height: auto;
  padding: 2%;
}

/* パンの名前と焼き上がり時間の箱 */
.search-section {
  display: flex;
  margin-left: 32px;
}

/* パンの名前の箱 */
.search-box {
  width: 340px;
  text-align: left;
  background-color: #afeeee;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

/* パンの名前の見出し */
.bread-title {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
  text-align: left;
}

/* パンの名前の入力欄 */
.bread-input {
  width: 240px;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 18px;
}

/* 検索ボタン */
.search-button {
  background-color: #800000;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border-style: none;
}

/* ボタンにさわったとき */
.search-button:hover {
  background-color: #de1c22; 
  cursor: pointer;
}

/* 焼き上がり時間の箱 */
.result-box {
  width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

/* 焼き上がり時間の見出し */
.result-title {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
  text-align: left;
}

/* 焼き上がり時間の結果表示 */
.result-time {
  font-size: 28px;
  color: #333333;
  text-align: left;
}

/* ===== コメント機能のスタイル ===== */
.comment-container {
  background-color: #f5f5f5;
  height: auto;
  padding: 2%;
}

h2 {
  color: #000000;
  margin-bottom: 24px;
}

.comment-set {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 12px;
}

.name-datetime-box {
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  margin-right: 12px;
}

.datetime {
  color: #000000;
  font-size: 14px;
}

.comment-text {
  color: #000000;
  font-size: 16px;
  white-space: pre-wrap;
  margin-top: 12px;
}

form {
  border-radius: 12px;
  background-color: #afeeee;
  padding: 20px;
  margin-top: 24px;
}

.comment-title {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-frame {
  display: flex;
  align-items: flex-end;
}

.form-fields {
  padding-left: 12px;
  flex-grow: 1;
}

.form-field {
  display: flex;
  margin-top: 12px;
}

.label-wrapper {
  display: flex;
  width: 64px;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
}

.name-input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  background-color: #ffffff;
  border-color: #020303;
  border-radius: 8px;
}

.comment-input {
  width: 100%;
  height: 80px;
  padding: 8px;
  font-size: 16px;
  background-color: #ffffff;
  border-color: #020303;
  border-radius: 8px;
  margin-right: 12px;
  resize: vertical; /* 縦方向にのみ変更可能 */
}

.submit-button {
  background-color: #800000;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border-style: none;
}

.submit-button:hover {
  background-color: #de1c22;
  cursor: pointer;
}

/* ===== いいね機能のスタイル ===== */
.like-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}

.like-button {
  display: flex;
  align-items: center;
}

.like-button:hover {
  cursor: pointer;
}

.like-img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.like-count {
  font-size: 16px;
  color: #800000;
}


/* フッター */
footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
